<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="css/style.css">
<body>
<div>
    <h2 >Anime List</h2>
    <tr>
        <div align = "center" >
            <h3><a  th:href="@{'/add'}">Add new</a></h3>
        </div>
    </tr>
    <tr>
        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr class="up">
                        <th>Anime ID</th>
                        <th>Anime Name</th>
                        <th>Seasons</th>
                        <th>Episodes</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="anime : ${listanime}">
                        <td th:text="${anime.id}">ID</td>
                        <td th:text="${anime.animename}">Anime Name</td>
                        <td th:text="${anime.seasons}">Seasons</td>
                        <td th:text="${anime.episodes}">Episodes</td>
                        <td>
                            <a th:href="@{'/edit/' + ${anime.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${anime.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

    </tbody>
    </table>
</div>
</body>
</html>